<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <title>Negasonic Editor</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="modal sign-in-modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">📂 Open Last Session</p>
          <button class="delete cancel-sign-in" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input">
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" placeholder="Text input">
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success">Open</button>
          <button class="button cancel-sign-in">Cancel</button>
        </footer>
      </div>
    </div>

    <div class="modal sign-up-modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">💾 Save your progress</p>
          <button class="delete cancel-sign-up" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          Register an account in order to save your file (saving multiple files will be possible soon™️)

          <div class="field">
            </br>
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input">
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" placeholder="Text input">
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success">Save changes</button>
          <button class="button cancel-sign-up">Cancel</button>
        </footer>
      </div>
    </div>

    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          Negasonic Editor
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-item">
          <p class="control">
            <div class="navbar-start">
              <a class="bd-tw-button button" href="https://github.com/merongivian/negasonic">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Fork</span>
              </a>
            </div>
          </p>
        </div>

        <div class="navbar-item">
          <a href="#" id="link_code" class="btn">Code Link</a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-primary" id='sign_up' href='#'>
                  <span class="icon">
                    💾
                  </span>
                  <span>
                    Save
                  </span>
                </a>
              </p>

              <p class="control">
                <a class="button is-primary" id='sign_in' href='#'>
                  <span class="icon">
                    📂
                  </span>
                  <span>
                    Open
                  </span>
                </a>
              </p>
            </div>
          </div>

          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-success" href='#' id="run_code">
                  <span class="icon">
                    <i class="fas fa-play-circle"></i>
                  </span>
                  <span>
                    Play (Cmd+Enter)
                  </span>
                </a>
              </p>
              <p class="control">
                <a class="button is-danger" href="#" id="stop">
                  <span class="icon">
                    <i class="fas fa-stop-circle"></i>
                  </span>
                  <span>Stop</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
